* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*************************ШРИФТЫ*******************************/
@font-face {
    font-family: 'Karton Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Karton Regular'), url('fonts/karton/Karton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Literal Light';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Light'), url('fonts/literal/Literal - Light (Personal use).woff') format('woff');
}


@font-face {
    font-family: 'Literal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Bold'), url('fonts/literal/Literal - Bold (Personal use).woff') format('woff');
}

@font-face {
    font-family: 'Literal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Regular'), url('fonts/literal/Literal - Regular (Personal use).woff') format('woff');
}

/*************************BODY*******************************/

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    width: 100%;
}

.nav_info,
.advantages,
.product_cards_container,
.order_info,
.reviews_container,
.disclaimer_container,
.upper_nav_container,
.center_nav_container {
    max-width: 1115px;
    margin: 0 auto;
}


:root {
    --brown: #5B4A58;
    --green: #6AAE55;
    --gray: #828282;
    --white-gray: #F9F8FB;
    --yellow-gray: #F0F0F0;
    --gray4: #BDBDBD;
    --shadow-brown: #A29BB4;
    --karton-regular: "Karton Regular", sans-serif;
    --literal-light: "Literal Light", sans-serif;
    --literal-bold: "Literal Bold", sans-serif;
    --literal-regular: "Literal Regular", sans-serif;
}

a, button {
    cursor: pointer;
}

/*************************HEADER*******************************/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_contacts {
    background-color: var(--brown);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 145px;
}

.nav_contacts > a {
    padding: 0 5px;
}

a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
    transition:  background-color 0.2s, color 0.2s;
}

.nav_contacts > a:hover {
    height: 100%;
    background-color: #6D5B6A;
}

.nav_maps {
    font-family: var(--literal-regular), sans-serif;
    font-size: 16px;
}

.nav_maps span {
    color: var(--green);
}

nav > a {
    text-decoration: none;
}

.nav_contacts > a {
    color: white;
}

.nav_maps span,
.nav_tel,
.nav_basket {
    font-family: var(--literal-bold), sans-serif;
    font-size: 16px;
}

.nav_tel {
    gap: 20px;
}

.nav_basket {
    text-transform: uppercase;
    gap: 10px;
}

.nav_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_info_container_1,
.nav_info_container_3 {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav_info_container_1 > a,
.nav_info_container_2 > a,
.nav_info_container_3 > a {
    color: var(--brown);
    text-transform: uppercase;
    font-family: var(--literal-regular), sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.nav_info_container_1 > a:hover,
.nav_info_container_2 > a:hover:hover,
.nav_info_container_3 > a:hover:hover {
    color: var(--green);
}

/*************************MAIN PAGE*******************************/


/*************************MAIN PAGE H1*******************************/

.main_page {
    height: 400px;
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: var(--karton-regular), sans-serif;
    font-size: 35px;
    color: var(--brown);
}

h1 span {
    color: var(--green);
}

.h1 {
    font-family: var(--karton-regular), sans-serif;
    font-size: 65px;
    letter-spacing: 8px;
    color: var(--brown);
}

.button_catalog {
    margin-top: 35px;
    padding: 15px 65px;
    background-color: var(--green);
    font-family: var(--literal-bold), sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.button_catalog:hover {
    background-color: var(--brown);
}

/*************************MAIN PAGE advantages*******************************/

.advantages {
    height: 225px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.advantages_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--literal-bold), sans-serif;
    font-size: 18px;
    color: var(--brown);
}

.advantages_card span {
    color: var(--green);
}

/*************************MAIN PAGE product_cards*******************************/

.product_cards {
    background-color: var(--white-gray);
    padding: 50px 0;
}

.product_cards_container {
    display: grid;
    gap: 20px;
    grid-template-columns: 70% 20%;
    justify-content: center;
    grid-template-areas:
    "sorter filter"
    "cards filter";
}

.product_cards_sorter {
    grid-area: sorter;
}

.product_cards_items {
    grid-area: cards;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product_cards_filter {
    grid-area: filter;
}

#search-input {
    width: 100%;
    padding-right: 40px;
    padding-left: 15px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.form_filter_search {
    position: relative;
}

.form_filter_search > input:focus {
    outline: none;
}

/* Убираем крестик в браузерах на движке Webkit (Chrome, Safari, Edge) */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* Для Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
}

.search_submit {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #666;
}

.product_cards_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product_cards_sorter {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: var(--literal-regular), sans-serif;
    color: var(--gray);
}

.product_cards_sorter > a {
    color: var(--gray4);
}

.product_cards_sorter > a:hover {
    color: var(--gray);
}

.product_card_item {
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}

.product_card_item > h3 {
    font-family: var(--literal-bold), sans-serif;
    font-size: 18px;
    color: var(--brown);
}

.product_card_item > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_card_item > div > p,
.product_card_item > div > span,
.product_card_item > h3 {
    padding: 0 20px;
}

.product_card_item > div > p {
    font-family: var(--literal-regular), sans-serif;
    font-size: 14px;
    color: var(--gray);
}

.product_card_item > div > span {
    font-family: var(--literal-bold), sans-serif;
    font-size: 16px;
    color: var(--brown);
}

.product_card_item > button {
    font-family: var(--literal-bold), sans-serif;
    background-color: var(--green);
    border: none;
    height: 40px;
    width: 200px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    margin-left: 10%;
    transition:  background-color 0.2s;
}

.product_card_item > button:hover {
    background-color: var(--brown);
}

.form_filter_checkbox > fieldset > div > input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    accent-color: var(--green);
}


.form_filter_checkbox > fieldset > button {
    font-family: var(--literal-regular), sans-serif;
    color: var(--gray4);
    font-size: 14px;
    border: none;
    background: none;
    padding-bottom: 10px;
    transition: color 0.2s;
}

.form_filter_checkbox > fieldset > button:hover {
    color: var(--gray);
}


.product_cards_section > button {
    font-family: var(--literal-regular), sans-serif;
    color: var(--green);
    font-size: 16px;
    text-decoration: underline dotted;
    text-underline-offset: 6px;
    border: none;
    background: none;
    padding-bottom: 10px;
    transition: color 0.2s;
}

.product_cards_section > button:hover {
    color: var(--brown);
}

.product_cards_filter {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.product_cards_filter > * {
    padding: 0 10px;
}

#search-input {
    background-color: var(--white-gray);
    font-family: var(--literal-regular), sans-serif;
    color: var(--brown);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    height: 50px;
}

#search-input::placeholder {
    color: var(--gray4);
    font-size: 16px;
}

.form_filter_checkbox > fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    margin: 10px 0;
}

.form_filter_checkbox > fieldset > * {
    font-family: var(--literal-regular), sans-serif;
    color: var(--brown);
    font-size: 16px;
}

.form_filter_checkbox > fieldset > div {
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.form_filter_checkbox > fieldset > legend {
    font-family: var(--literal-bold), sans-serif;
    color: var(--gray4);
    font-size: 14px;
    padding: 5px 0;
}

/*************************MAIN PAGE order_info_points***************************/

.order_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.order_info_points {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;

}

.order_info_point {
    display: flex;
    align-items: center;
}

.order_info_title_h2 {
    font-family: var(--karton-regular), sans-serif;
    font-size: 24px;
    color: var(--brown);
    margin-top: 50px;
}

.order_info_title_h2 span {
    color: var(--green);
}

.order_info_h3 {
    font-family: var(--literal-bold), sans-serif;
    color: var(--green);
    font-size: 18px;
}

.order_info_p {
    font-family: var(--literal-regular), sans-serif;
    color: var(--brown);
    font-size: 16px;
}

.order_info_point_button {
    font-family: var(--literal-light), sans-serif;
    color: var(--brown);
    font-size: 50px;

    text-decoration: none;
    width: 86px;
    height: 86px;
    min-width: 86px !important;
    min-height: 86px !important;
    border: 1px solid var(--brown);
    border-radius: 50%;
    background-color: white;
    margin: 50px 30px;

    position: relative;
    transition: border 0.2s, color 0.2s;
    cursor: default;
}

/* Создаем декоративный элемент вокруг кнопки */
.order_info_point_button::before {
    content: "";
    position: absolute;
    top: -24px; /* Отступ наружу от кнопки */
    left: -24px;
    right: -24px;
    bottom: -24px;
    background-image: url(images/order-info-points/twigs.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Помещаем под кнопку */
    pointer-events: none; /* Чтобы не мешало кликам */
}

.order_info_point_button:hover {
    color: var(--green);
    border: 1px solid var(--green);
}

/*************************MAIN PAGE reviews***************************/

.reviews {
    width: 100%;
    background-color: var(--white-gray);
}

.reviews_container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}

.reviews_comments {
    width: 60%;
}

.reviews_photos_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.reviews_photos_img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
}

.img_review.hidden {
    display: none;
    border-radius: 10px;
    object-fit: cover;
    height: 168px;
    width: 168px;
}

.reviews_title_h2 {
    font-family: var(--karton-regular), sans-serif;
    font-size: 26px;
    color: var(--brown);
}

.reviews_title_h2 span {
    color: var(--green);
}

.reviews_a {
    font-family: var(--literal-regular), sans-serif;
    color: var(--green);
    font-size: 16px;
    text-decoration: underline dotted;
    text-underline-offset: 6px;
}

.reviews_a:hover {
    color: var(--brown);
}

.reviews_comment_card {
    margin-bottom: 10px;
}

.reviews_comment_card.hidden {
    display: none;
}

.reviews_comment_card_block_1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.reviews_comment_card_block_2 {
    border-bottom: 1px solid #E5E5E5;
}

.reviews_comment_card_block_2 > p {
    margin-bottom: 15px;
}

.name_reviewer {
    font-family: var(--literal-bold), sans-serif;
    color: var(--green);
}

.name_reviewer span {
    font-family: var(--literal-regular), sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--gray);
}

.text_comment {
    font-family: var(--literal-regular), sans-serif;
    font-size: 16px;
    color: var(--brown);
}

/*************************MAIN PAGE disclaimer***************************/

.disclaimer {
    background-color: var(--yellow-gray);
}

.disclaimer_container {
    padding: 50px 0;
}

.disclaimer_container > p {
    font-family: var(--literal-regular), sans-serif;
    font-size: 16px;
    color: var(--gray);
}

/*************************footer***************************/

footer {
    background-color: #746471;
}

.footer_upper_nav {
    height: 80px;
    border-bottom: 1px solid var(--shadow-brown);
}

.upper_nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.upper_nav_container > a {
    text-decoration: none;
    color: white;
    font-family: var(--literal-regular), sans-serif;
    font-size: 16px;
}

.upper_nav_container > a:hover {
    color: var(--green);
}

.footer_center_nav {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--shadow-brown);
}

.center_nav_container {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    align-items: start;
}

.footer_center_nav_block_1 > h3,
.footer_center_nav_block_2 > h3,
.footer_center_nav_block_3 > h3 {
    font-family: var(--literal-bold), sans-serif;
    font-size: 18px;
    color: var(--green);
}

.footer_center_nav_block_1 > div,
.footer_center_nav_block_2 > a {
    font-family: var(--literal-regular), sans-serif;
    font-size: 16px;
    color: white;
}

.footer_center_nav_block_2 > a {
    text-decoration: none;
}

.footer_center_nav_block_2 > a:hover {
    color: var(--green);
}

.form_call_us > * {
    font-family: var(--literal-regular), sans-serif;
    font-size: 14px;
    color: white;
}

.form_call_us {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "name phone"
    "textarea textarea"
    ". submit";
    gap: 5px;
}

#name_input {
    grid-area: name;
}

#phone_input {
    grid-area: phone;
}

.fieldset_call_us {
    border: none;
    display: flex;
    flex-direction: column;
}

.phone_label,
.name_label {
    padding-bottom: 2px;
}

.textarea {
    grid-area: textarea;
    height: 70px;
}

.name_input,
#phone_input,
#button_submit,
.textarea {
    border: none;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#button_submit:hover {
    background-color: var(--brown);
}

.footer_center_nav_block_1,
.footer_center_nav_block_2 {
    display: flex;
    flex-direction: column;
}

.footer_center_nav_block_1 > div,
.footer_center_nav_block_2 > a {
    margin-bottom: 20px;
}

.footer_center_nav_block_1 > h3,
.footer_center_nav_block_2 > h3,
.footer_center_nav_block_3 > h3 {
    margin-bottom: 15px;
}

#button_submit {
    grid-area: submit;
    background-color: var(--green);
    font-family: var(--literal-bold), sans-serif;
    font-size: 16px;
    height: 40px;
}

.footer_bottom_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60px;
    font-family: var(--literal-regular), sans-serif;
    color: var(--shadow-brown);
}

.footer_bottom_nav > div > a {
    text-decoration: none;
    color: var(--shadow-brown);
}

.footer_bottom_nav > div > a:hover {
    color: var(--green);
}

.footer_bottom_nav > div {
    display: flex;
    justify-content: center;
    gap: 5px;
}