* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: 'Literal Light';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Light'), url('/fonts/literal/Literal - Light (Personal use).woff') format('woff');
}


@font-face {
    font-family: 'Literal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Bold'), url('/fonts/literal/Literal - Bold (Personal use).woff') format('woff');
}

@font-face {
    font-family: 'Literal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Regular'), url('/fonts/literal/Literal - Regular (Personal use).woff') format('woff');
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: TikTok Sans, monospace;
}

body > *:not(header){
    max-width: 1140px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_contacts {
    background-color: #6D5B6A;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 145px;
}

a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
}

.nav_maps {
    font-family: "Literal Regular", sans-serif;
    font-size: 16px;
}

.nav_maps span {
    color: #6AAE55;
}

nav > a {
    text-decoration: none;
}

.nav_contacts > a {
    color: white;
}

.nav_maps span,
.nav_tel,
.nav_basket {
    font-family: "Literal Bold", sans-serif;
    font-size: 16px;
}

.nav_tel {
    gap: 20px;
}

.nav_basket {
    text-transform: uppercase;
    gap: 10px;
}

.nav_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_info_container_1,
.nav_info_container_3 {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav_info_container_1 > a,
.nav_info_container_2 > a,
.nav_info_container_3 > a {
    color: #6D5B6A;
    text-transform: uppercase;
    font-family: "Literal Regular", sans-serif;
    font-size: 14px;
    text-decoration: none;
}




