* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*************************ШРИФТЫ*******************************/
@font-face {
    font-family: 'Karton Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Karton Regular'), url('fonts/karton/Karton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Literal Light';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Light'), url('fonts/literal/Literal - Light (Personal use).woff') format('woff');
}


@font-face {
    font-family: 'Literal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Bold'), url('fonts/literal/Literal - Bold (Personal use).woff') format('woff');
}

@font-face {
    font-family: 'Literal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Regular'), url('fonts/literal/Literal - Regular (Personal use).woff') format('woff');
}

/*************************BODY*******************************/

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
}

body > *:not(header){
    max-width: 1115px;
    margin: 0 auto;
}

:root {
    --brown: #5B4A58;
    --green: #6AAE55;
    --karton-regular: "Karton Regular", sans-serif;
    --literal-light: "Literal Light", sans-serif;
    --literal-bold: "Literal Bold", sans-serif;
    --literal-regular: "Literal Regular", sans-serif;
}

/*************************HEADER*******************************/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_contacts {
    background-color: var(--brown);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 145px;
}

a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
}

.nav_maps {
    font-family: var(--literal-regular), sans-serif;
    font-size: 16px;
}

.nav_maps span {
    color: var(--green);
}

nav > a {
    text-decoration: none;
}

.nav_contacts > a {
    color: white;
}

.nav_maps span,
.nav_tel,
.nav_basket {
    font-family: var(--literal-bold), sans-serif;
    font-size: 16px;
}

.nav_tel {
    gap: 20px;
}

.nav_basket {
    text-transform: uppercase;
    gap: 10px;
}

.nav_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_info_container_1,
.nav_info_container_3 {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav_info_container_1 > a,
.nav_info_container_2 > a,
.nav_info_container_3 > a {
    color: var(--brown);
    text-transform: uppercase;
    font-family: var(--literal-regular), sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/*************************MAIN PAGE H1*******************************/

.main_page {
    height: 400px;
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: var(--karton-regular), sans-serif;
    font-size: 35px;
    color: var(--brown);
}

h1 span {
    color: var(--green);
}

.h1 {
    font-family: var(--karton-regular), sans-serif;
    font-size: 65px;
    letter-spacing: 6px;
    color: var(--brown);
}

.button_catalog {
    margin-top: 35px;
    padding: 15px 65px;
    background-color: var(--green);
    font-family: var(--literal-bold), sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

/*************************MAIN PAGE advantages*******************************/

.advantages {
    height: 225px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 50px 0;
}

.advantages_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--literal-bold), sans-serif;
    font-size: 18px;
    color: var(--brown);
}

.advantages_card span {
    color: var(--green);
}

/*************************MAIN PAGE product_cards*******************************/

/*************************MAIN PAGE order_info_points***************************/

.order_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.order_info_points {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;

}

.order_info_point {
    display: flex;
    align-items: center;
}

.order_info_title {
    font-family: var(--karton-regular), sans-serif;
    font-size: 24px;
    color: var(--brown);
}

.order_info_title span {
    color: var(--green);
}

.order_info_h3 {
    font-family: var(--literal-bold), sans-serif;
    color: var(--green);
    font-size: 18px;
}

.order_info_p {
    font-family: var(--literal-regular), sans-serif;
    color: var(--brown);
    font-size: 16px;
}

.order_info_point_button {
    font-family: var(--literal-light), sans-serif;
    color: var(--brown);
    font-size: 50px;

    text-decoration: none;
    width: 86px;
    height: 86px;
    min-width: 86px !important;
    min-height: 86px !important;
    border: 1px solid var(--brown);
    border-radius: 50%;
    background-color: white;
    margin: 50px 30px;

    position: relative;
    transition: border 0.2s, color 0.2s;
}

/* Создаем декоративный элемент вокруг кнопки */
.order_info_point_button::before {
    content: "";
    position: absolute;
    top: -24px; /* Отступ наружу от кнопки */
    left: -24px;
    right: -24px;
    bottom: -24px;
    background-image: url(images/order-info-points/twigs.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Помещаем под кнопку */
    pointer-events: none; /* Чтобы не мешало кликам */
}

.order_info_point_button:hover {
    color: var(--green);
    border: 1px solid var(--green);
}

