* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*************************ШРИФТЫ*******************************/
@font-face {
    font-family: 'Karton Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Karton Regular'), url('/fonts/karton/Karton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Literal Light';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Light'), url('/fonts/literal/Literal - Light (Personal use).woff') format('woff');
}


@font-face {
    font-family: 'Literal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Bold'), url('/fonts/literal/Literal - Bold (Personal use).woff') format('woff');
}

@font-face {
    font-family: 'Literal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Literal Regular'), url('/fonts/literal/Literal - Regular (Personal use).woff') format('woff');
}

/*************************BODY*******************************/

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: TikTok Sans, monospace;
}

body > *:not(header){
    max-width: 1115px;
    margin: 0 auto;
}

/*************************HEADER*******************************/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_contacts {
    background-color: #6D5B6A;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 145px;
}

a {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
}

.nav_maps {
    font-family: "Literal Regular", sans-serif;
    font-size: 16px;
}

.nav_maps span {
    color: #6AAE55;
}

nav > a {
    text-decoration: none;
}

.nav_contacts > a {
    color: white;
}

.nav_maps span,
.nav_tel,
.nav_basket {
    font-family: "Literal Bold", sans-serif;
    font-size: 16px;
}

.nav_tel {
    gap: 20px;
}

.nav_basket {
    text-transform: uppercase;
    gap: 10px;
}

.nav_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_info_container_1,
.nav_info_container_3 {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.nav_info_container_1 > a,
.nav_info_container_2 > a,
.nav_info_container_3 > a {
    color: #6D5B6A;
    text-transform: uppercase;
    font-family: "Literal Regular", sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/*************************MAIN PAGE H1*******************************/

.main_page {
    height: 400px;
    background-image: url('/images/background.svg');
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: "Karton Regular", sans-serif;
    font-size: 35px;
}

h1 span {
    color: #6AAE55;
}

.h1 {
    font-family: "Karton Regular", sans-serif;
    font-size: 65px;
    letter-spacing: 6px;
}

.button_catalog {
    margin-top: 35px;
    padding: 15px 65px;
    background-color: #6AAE55;
    font-family: "Literal Bold", sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

